<p>A request to reset your password has been made. If you did not make this request, simply ignore this email.</p>
<p>However, click the link below if you did make the request: <%= @reset_password_url -%></p>
<p>Please reply this email if you have any problem.</p>
