.fields{:style => "width: 305px"}
  = link_to_remove_fields image_tag("/images/admin/action_delete.gif"), f
  - unless f.object.data.original_filename.nil?
    = image_tag f.object.data.url(:original), :class => "thumbnail"
    %br/
  = f.label :data, "File:"
  = f.file_field :data
